* {
  color: #d8c6b8;
}

.conteinerPesquisa {
  width: 70%;
  margin: 0 auto;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infoPesquisa {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  gap: 2rem;
}

.infoGeneroBusca {
  p {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 16px;
    font-weight: bold;
    i {
      font-size: 20px;
      color: #faff2a;
    }
  }
  p:hover {
    color: #faff2a;
  }
}

.selectFilmeSerie {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #61636a;
  border-radius: 15px;
  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
}

.active {
  background-color: #faff2a;
  color: #09111b;
  i {
    color: #09111b;
  }
}

.desactive {
  background-color: #09111b;
  color: #61636a;
  i {
    color: #61636a;
  }
}
.desactive:hover {
  color: #d8c6b8;
  i {
    color: #d8c6b8;
  }
}

.elementsPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  input {
    padding: 13px;
    color: #09111b;
    background-color: #d8c6b8;
    border: 1px solid #61636a;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    outline: none;
    font-size: 16px;
  }
}

.generos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listGeneros {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.genero-button {
  width: 20vh;
  height: 10vh;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
  background: linear-gradient(45deg, #09111b, #1c2a3a);
  transition: all;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.genero-button:hover {
  background: linear-gradient(45deg, #09111b, rgba(250, 255, 42, 0.6));
  transition: 0.5s;
}

.hide {
  display: none;
}

.conteinerRenderPesquisa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.infoResultadoPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  p {
    font-size: 14px;
    font-weight: bold;
    color: #61636a;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .conteinerPesquisa {
    width: 85%;
    margin-top: 6vh;
  }
  .elementsPesquisa {
    gap: 1rem;
    input {
      width: 100%;
    }
  }
  .infoPesquisa {
    width: 90%;
  }
  .infoGeneroBusca {
    p {
      font-size: 15px;
      i {
        font-size: 18px;
      }
    }
  }
  .selectFilmeSerie {
    button {
      font-size: 15px;
    }
  }
  .conteinerRenderPesquisa {
    justify-content: center;
  }
  .listGeneros {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .conteinerPesquisa {
    width: 85%;
    margin-top: 6vh;
  }
  .elementsPesquisa {
    gap: 1rem;
    input {
      width: 100%;
    }
  }
  .infoPesquisa {
    width: 100%;
  }
  .infoGeneroBusca {
    p {
      font-size: 14px;
      i {
        font-size: 17px;
      }
    }
  }
  .selectFilmeSerie {
    button {
      font-size: 14px;
    }
  }
  .conteinerRenderPesquisa {
    justify-content: center;
  }
  .genero-button {
  }
  .listGeneros {
    width: 100%;
  }
}
