@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

/* Estilizando a pista (fundo) da barra de rolagem */
::-webkit-scrollbar-track {
  background: inherit; /* Cor de fundo da pista */
}

/* Estilizando o polegar (alça) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #61636a; /* Cor do polegar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

html {
  background-color: #09111b;
  color: #d8c6b8;
}

.conteinerPrincipal {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 40vh;
}

.logo {
  height: 82.5%;
  width: 100%;
  background: url("../../assets/img/vingadores-logo.jpg");
}

.conteinerLogo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #09111b,
    rgba(9, 17, 27, 0.9),
    rgba(9, 17, 27, 0.7)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #61636a;
    font-size: 45px;
  }
}

nav {
  display: flex;
  height: 7.5%;
  justify-content: space-evenly;
}

nav a {
  font-size: 16px;
  font-weight: 510;
  color: #d8c6b8;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  i {
    color: #faff2a;
  }
}

nav a:hover {
  color: #faff2a;
  transition: 0.3s;
}

.scrolledNavBar {
  background-color: rgba(9, 17, 27, 0.7);
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 9vh;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.corpo {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
}

.iconeMenu {
  display: none;
  color: #d8c6b8;
  font-size: 35px;
}

.modalMenuTelasMenores {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(9, 17, 27, 0.5);
  flex-direction: column;
  gap: 2rem;
  z-index: 2;
  a {
    font-size: 25px;
    color: #d8c6b8;
    font-weight: 550;
  }
}

footer {
  margin-top: 70vh;
  width: 100%;
  color: #d8c6b8;
  background: linear-gradient(to bottom, #09111b, #0e0c0c, #0e0c0c, #0e0c0c);
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: #61636a;
}

.footer-link:hover {
  color: #d8c6b8;
  transition: 0.3s;
}

#footer_content {
  min-height: 25vh;
  display: flex;

  justify-content: space-around;
  padding-top: 5vh;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px;
}

#footer_social_media {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

#footer_social_media .footer-link {
  height: 2.5rem;
  width: 2.5em;
  color: #61636a;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_contacts {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.infoIntegrantes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  p {
    font-size: 15px;
    color: #61636a;
  }
}

.footer-list {
  display: flex;

  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: #61636a;
}

.footer-list .footer-link:hover {
  color: #d8c6b8;
  transition: 0.3s;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  p {
    color: #61636a;
  }
}

#footer_copyright {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 350;
  color: #61636a;
}

#input_group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input {
    padding: 5px;
    background-color: rgba(97, 99, 106, 0.1);
    border: 1px solid #61636a;
    border-radius: 5px;
    color: #d8c6b8;
  }
  button {
    cursor: pointer;
    padding: 8px;
    margin: 0 auto;
    border: 1px solid #61636a;
    color: #d8c6b8;
    background-color: inherit;
    border-radius: 5px;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  button:hover {
    color: #61636a;
    transition: 0.3s;
  }
}

.cardTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  gap: 1rem;
  width: 250px;
  padding: 10px;
  img {
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
}

.cardTitulo:hover {
  transition: 0.3s;
  img {
    opacity: 0.7;
  }
  p {
    color: #faff2a;
  }
}

.divBtnMudarPageTitulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  i {
    font-size: 25px;
    color: #faff2a;
    cursor: pointer;
  }
  i:hover {
    opacity: 0.6;
  }
}

.divModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(97, 99, 106, 0.1);
  backdrop-filter: blur(5px);
}

.divModalCentral {
  width: 65vh;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 5px;
  padding: 25px;
  background: linear-gradient(45deg, #09111b, #1c2a3a);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  animation: aparecerModal ease 0.3s forwards;
}

@keyframes aparecerModal {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.modalTitulo {
  font-size: 18px;
  color: #faff2a;
  font-weight: bold;
  text-align: center;
}

.divOverview {
  width: 100%;
  p {
    text-indent: 7px;
    font-size: 16px;
    text-align: justify;
    font-weight: lighter;
  }
}

.divImg {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 90%;
    border-radius: 8px;
  }
}

.divInfoMidiaTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  p {
    font-weight: bold;
    color: #d8c6b8;
  }
  i {
    color: #faff2a;
    font-size: 22px;
  }
}

.divFavoritarTitulo {
  i {
    font-size: 30px;
    cursor: pointer;
  }
  i:hover {
    color: red;
    transition: 0.3s;
  }
}

.divTituloFavorito {
  i {
    font-size: 30px;
    cursor: pointer;
    color: red;
  }
  i:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
}

.imgLoading {
  width: 50px;
  margin: 0 auto;
}

.divIconeTitulosVazio {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  p {
    font-size: 16px;
    font-weight: bold;
    color: #61636a;
  }
  i {
    font-size: 80px;
    color: #61636a;
  }
}

@media screen and (max-width: 750px) {
  #footer_contacts {
    width: 40%;
    align-items: center;
  }
  .footer-list {
    width: 40%;
    align-items: center;
  }
  #footer_subscribe {
    width: 40%;
    align-items: center;
  }
  .cardTitulo {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  nav a {
    font-size: 12px;
  }
  header {
    height: 30vh;
  }
  .cardTitulo {
    width: 150px;
  }
  .logo {
    background: url("../../assets/img/vingadores-logo.jpg") center top;
  }
  .divModalCentral {
    width: 55vh;
  }
}

@media screen and (max-width: 450px) {
  nav {
    display: none;
  }
  header {
    height: 25vh;
  }
  .conteinerLogo {
    h1 {
      font-size: 27px;
    }
  }
  .iconeMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer_content {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 14px;
      text-align: center;
    }
  }
  #footer_subscribe {
    p {
      font-size: 13px;
    }
  }
  .footer-list .footer-link {
    font-size: 13px;
  }
  .infoIntegrantes {
    gap: 0.3rem;
    p {
      font-size: 13px;
    }
  }
  .cardTitulo {
    width: 128px;

    p {
      letter-spacing: 1px;
      text-align: center;
    }
  }
  .divModalCentral {
    width: 90%;
  }
}
